/*VARIABLES*/

$text_color_dark: rgb(50, 50, 50)

$text_color_light: rgb(255, 255, 255)

$bg_color_light_1: rgb(249, 249, 249)

$bg_color_light_2: rgb(238, 239, 241)

$bg_color_dark_1: rgb(30, 30, 30)

$bg_color_dark_2: rgb(37, 37, 38)

$primary_color: rgb(52, 84, 122)

$transition_delay: .5s



/*MIXINS*/

@mixin title() 
    font-family: 'Roboto', sans-serif
    font-weight: 500
    font-size: 3rem
    line-height: 1.64em

@mixin subtitle() 
    font-family: 'Roboto', sans-serif
    font-weight: 500
    font-size: 2rem
    line-height: 1.17em

@mixin text() 
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 1rem
    line-height: 1.64em

@mixin button()
    display: inline-block
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 0.9rem
    line-height: 1.42em
    text-transform: uppercase
    color: $text_color_light
    text-align: center
    padding: 15px 30px
    background-color: $primary_color
    border-radius: 5px
    &:active
        transform: scale(0.9)

@mixin flexible()
    display: flex 
    align-items: center



/*SERVICE BLOCK*/
html
    font-size: 16px

.container
    max-width: 1800px
    overflow: hidden
    margin: 0 auto
    padding: 0 20px

a
    @include text()
    text-decoration: none
    color: inherit
    transition: color 1s linear
    &:hover
        text-decoration: underline

.hidden
    display: none !important

/*BASIC STYLES LIGHT THEME*/ 

.header
    background-color: $bg_color_light_2
    padding-top: 80px
    width: 100%
    transition: background-color $transition_delay linear
    &.fixed
        position: fixed
        top: 0
        left: 0
        padding-top: 0
        z-index: 800

.nav
    @include flexible()
    @include text()
    justify-content: space-between
    .nav__logo
        display: inline-block
        width: 281px
        height: 90px
        background-image: url(../img/logo_dark.png)
        background-size: 100% 100% 
        transition: background-image $transition_delay linear
    .nav__menu
        @include flexible()
        justify-content: space-around
        width: 50%
        .nav__menu-btn
            text-transform: uppercase
            font-size: 1rem
            line-height: 1.5em
            letter-spacing: 0.1em
            &:hover
                text-decoration: underline
                text-decoration-thickness: 0.13em
    .nav__settings 
        .nav__settings-color
            position: relative
            font-size: 0.8rem
            width: 80px
            display: block
            border: 2px solid $text_color_dark
            border-radius: 20px
            height: 2.5em
            transition: border $transition_delay linear, color $transition_delay linear
            margin-top: 0.5em
            margin-bottom: 1em
            padding: 1px 5px 0
            &::before
                content: ''
                position: absolute
                top: 0
                display: block
                width: 40%
                height: 100%
                background-color: $text_color_dark
                border-radius: 20px
                transition: background-color $transition_delay linear
            span
                display: inline-block
                text-align: right
                transition: text-align $transition_delay linear
                overflow: hidden

            span:first-child
                width: 0%
                transition: width $transition_delay linear
            span:last-child
                width: 85%
                transition: width $transition_delay linear
            &::before
                right: 65%
                transition: right $transition_delay linear

.main-screen
    background-color: $bg_color_light_2
    padding: 160px 245px 145px
    transition: background-color $transition_delay linear
        
    &__container
        @include flexible()
        justify-content: space-between
    &__img
        width: 457px
    .technologies
        @include flexible()
        margin-top: 50px
        justify-content: left
        width: 100%
        &__item:not(:last-child)
            margin-right: 50px
    &__content
        width: 685px
        color: $text_color_dark
        transition: color $transition_delay linear
    &__header
        @include title()
    &__text
        @include text()
        margin: 40px 0
        p:not(:last-child)
            margin-bottom: .6rem
        
.about
    position: relative
    overflow: hidden
    background-color: $bg_color_light_1
    background-image: url(../img/my_photo.png), linear-gradient(270deg, rgb(193, 193, 193), rgb(175, 175, 175) 49%, rgb(249, 249, 249) 85%)
    background-size: auto 150%, 50% 100%
    background-repeat: no-repeat
    background-position: 80% 50%, right
    padding: 120px 245px 100px
    transition: background-color $transition_delay linear
    &__container
        @include flexible()
        justify-content: space-between
    &-content
        color: $text_color_dark
        transition: color $transition_delay linear
        &__title
            @include subtitle()
            text-align: left
        &__text
            @include text()
            width: 540px
            margin: 50px 0
            p:not(:last-child)
                margin-bottom: .6rem
        &__btn
            @include button()
            text-decoration: none !important
    &__img
        display: none
        position: absolute
        height: 150%
        bottom: -25%
        left: 50%

.process
    text-align: center  
    background-color: $bg_color_light_2
    color: $text_color_dark
    padding: 100px 0 50px
    transition: background-color $transition_delay linear, color $transition_delay linear
               
    &__title
        @include subtitle()
    
    &__items
        @include flexible()
        flex-direction: column
        padding: 60px 0

    &__item
        position: relative
        width: 650px
        padding: 20px
        border-radius: 5px
        &:nth-child(2n+1)
            transform: translateX(-55%)
            &::after
                content: url("../img/right.svg")
                position: absolute
                top: 58%
                left: 103%
                width: 30%
                transform: rotate(30deg)
                opacity: 0.28
        &:nth-child(2)
            &::before
                content: url("../img/left.svg")
                position: absolute
                top: 58%
                right: 103%
                width: 30%
                transform: rotate(-30deg)
                opacity: 0.28
        &:nth-child(2n)
            transform: translateX(55%)
        &-title
            @include subtitle()
            margin-bottom: 20px
            font-size: 1.2rem
        &-text
            @include text()
        &-bg
            position: absolute
            display: block
            color: rgba(0,0,0,0)
            -webkit-text-stroke: 5px $primary_color
            filter: drop-shadow(-10px 10px 5px $primary_color)
            opacity: 0.07
        &-html
            top: 17.4%
            left: -1.6%
            font-size: 15rem
        &-css
            top: 17%
            left: 7%
            font-size: 16rem
        &-media
            top: 26%
            left: -2%
            font-size: 12.5rem
        &-js
            top: 36.4%
            left: -11.6%
            font-size: 11.2rem

.portfolio
    background-color: $bg_color_light_1
    padding-top: 100px
    transition: background-color $transition_delay linear, color $transition_delay linear
    &__title
        @include subtitle()
        text-align: center
    &__result
        @include flexible()
        justify-content: space-around
        padding: 0
        margin: 70px 0 100px
        list-style: none
        &-item      
            @include text()
            @include flexible()  
            max-width: 400px
            text-align: left
            img
               width: 85px
               height: 70px
               margin-right: 10px
               filter: invert(0%)
               transition: filter $transition_delay linear

    &__items
        @include flexible()
        justify-content: space-around
        flex-wrap: wrap
    &__item
        position: relative
        background-repeat: no-repeat
        background-size: 100% 100%
        color: $text_color_light
    .item
        &__title
            font-family: 'Roboto', sans-serif
            font-weight: 500
            font-size: 1.25rem
            line-height: 1.17em
            margin: 20px 0
        &__description
            @include text()
        &__link:first-child
            margin-right: 50px
    &__item--hover
        display: flex
        position: absolute
        width: 100%
        height: 4.2rem
        bottom: 0
        left: 0
        padding: 0px 20px
        flex-direction: column
        justify-content: space-between
        background: rgba(52, 84, 122, 0.8)
        background: linear-gradient(to top, rgba(52, 84, 122, 1), rgba(52, 84, 122, 0.5))
        overflow: hidden
        transition: height .6s
        div:last-child
            margin-bottom: 20px
    &__item:hover
        .portfolio__item--hover
            height: 100%
            transition: height .6s

.modal
    z-index: 1000
    &-bg
        z-index: 900
        position: fixed
        top: 0 
        left: 0
        width: 100%
        height: 100%
        background-color: $bg_color_dark_1
        opacity: 0.9
    &-root  
        @include flexible()
        justify-content: center
        align-items: center
        position: fixed
        top: 0 
        left: 0
        width: 100%
        height: 100%
        z-index: 1000
    &-body
        position: relative
        width: 800px
        min-height: 200px
        background-color: $bg_color_light_1
        padding: 30px 30px 50px
        border-radius: 5px
    &-close
        position: absolute
        width: 30px
        height: 30px
        right: 4px
        top: 4px
        background-image: url(../img/close.png)
        background-size: 60% 60%
        background-repeat: no-repeat
        background-position: center center
        &:active
            transform: scale(0.9)

    &-title
        @include subtitle()
    &-coms
        @include flexible()
        flex-wrap: wrap
        justify-content: space-around
        row-gap: 45px
        margin-top: 30px
        &__item
            width: 35%
    &-com
        &__title
            position: relative
            @include subtitle()
            font-size: 1.3rem
            margin-bottom: 20px
            margin-left: 40px
        &__telegram::before
            content: ''
            position: absolute
            top: -3px
            left: -40px
            width: 30px
            height: 30px
            border-radius: 50%
            background-image: url(../img/modal-telegram.png)
            background-size: 110% 110%
            background-position: center center
        &__email::before
            content: ''
            position: absolute
            top: -3px
            left: -40px
            width: 30px
            height: 30px
            border-radius: 50%
            background-image: url(../img/modal-email.png)
            background-size: 130% 130%
            background-position: center center
        &__whatsapp::before
            content: ''
            position: absolute
            top: -3px
            left: -40px
            width: 30px
            height: 30px
            border-radius: 50%
            background-image: url(../img/modal-whatsapp.png)
            background-size: 120% 120%
            background-position: center center
        &__direct::before
            content: ''
            position: absolute
            top: -3px
            left: -40px
            width: 30px
            height: 30px
            border-radius: 50%
            background-image: url(../img/modal-instagram.png)
            background-size: 120% 120%
            background-position: center center
        &__btn
            @include button()
            font-size: 0.7rem
            padding: 8px 15px
        &__goto-btn
            margin-right: 10px
            &:hover
                text-decoration: none
            
            

.footer
    padding: 50px 0 30px
    background-color: $primary_color
    color: #000
    transition: background-color $transition_delay linear, color $transition_delay linear
    &-links
        a
            display: block
    &__container
        @include flexible()
        justify-content: space-around
        flex-wrap: wrap
    &__social
        @include flexible()
    &__copyright
        width: 100%
        @include text()
        text-align: center
        margin-top: 40px
    .social
        &__item
            width: 50px
            height: 50px
            background-repeat: no-repeat
            &.github
                background-image: url('../img/github_black.png')
                background-size: 95% 95%
                background-position: center bottom
                transition: background-image $transition_delay linear
            &.telegram
                background-image: url('../img/telegram_black.png')
                background-size: 93% 93%
                background-position: center bottom
                transition: background-image $transition_delay linear
            &.whatsapp
                background-image: url('../img/whatsapp_black.png')
                background-size: 100% 100%
                background-position: center center
                transition: background-image $transition_delay linear
            &.instagram
                background-image: url('../img/instagram_black.png')
                background-size: 90% 90%
                background-position: left center
                transition: background-image $transition_delay linear
        &__item:not(:first-child)
            margin-left: 20px 
    a
        @include text()       

/*BASIC STYLES DARK THEME*/
.dark
    a
        color: $text_color_light
        transition: color $transition_delay linear
    .header
        background-color: $bg_color_dark_2
        transition: background-color $transition_delay linear
    .nav
        .nav__logo
            background-image: url(../img/logo_light.png)
            transition: background-image $transition_delay linear
        .nav__settings-color
            border: 2px solid $text_color_light
            color: $text_color_light
            transition: border $transition_delay linear, color $transition_delay linear
            &::before
                background-color: $text_color_light
                transition: background-color $transition_delay linear
            span
                text-align: left
                transition: text-align $transition_delay linear
            &::before
                right: 0%
                transition: right $transition_delay linear
            span:first-child
                width: 85%
                transition: width $transition_delay linear
            span:last-child
                width: 0%
                transition: width $transition_delay linear

    .main-screen
        background-color: $bg_color_dark_2
        transition: background-color $transition_delay linear
        &__content
            color: $text_color_light
            transition: color $transition_delay linear

    .about
        background-color: $bg_color_dark_1
        background-image: url(../img/my_photo.png)
        transition: background-color $transition_delay linear
        &-content
            color: $text_color_light
            transition: color $transition_delay linear


    .process
        color: $text_color_light
        background-color: $bg_color_dark_2
        transition: background-color $transition_delay linear, color $transition_delay linear
        &__item
            &-bg
                opacity: 0.2
            &::after, &::before
                opacity: 0.7

    .portfolio
        background-color: $bg_color_dark_1
        color: $text_color_light
        transition: background-color $transition_delay linear, color $transition_delay linear
        &__result-item img
            filter: invert(100%)
            transition: filter $transition_delay linear

    .footer
        background-color: $bg_color_dark_1
        color: $text_color_light
        transition: background-color $transition_delay linear, color $transition_delay linear
        .social
            &__item
                &.github
                    background-image: url('../img/github_white.png')
                    transition: background-image $transition_delay linear
                &.telegram
                    background-image: url('../img/telegram_white.png')
                    transition: background-image $transition_delay linear
                &.whatsapp
                    background-image: url('../img/whatsapp_white.png')
                    transition: background-image $transition_delay linear
                &.instagram
                    background-image: url('../img/instagram_white.png')
                    transition: background-image $transition_delay linear


/*RESPONSIVENESS SETTINGS*/
@media (max-width: 1800px)
    .main-screen
        padding: 160px 160px 145px
    .about
        padding: 120px 160px 100px
        background-position: 120% 50%, right
    .portfolio
        .item
            &__title
                margin: 20px 0 10px
        &__item--hover
            height: 3.5rem
            div:last-child
                margin-bottom: 10px
    .footer__container
        justify-content: space-between

@media (max-width: 1600px)
    .main-screen
        padding: 160px 50px 145px
    .about
        padding: 120px 60px 100px
        background-position: 140% 50%, right

@media (max-width: 1400px)
    .header
        padding-top: 0
    .main-screen
        padding: 160px 30px 145px
        &__header
            font-size: 2.7rem




/*ПРОДОЛЖИТЬ АДАПТИРОВАТЬ ТУТ*/    



    
            
   /* .about
        padding: 120px 30px 100px
        background-position: 300% 50%, right  */
//@media (max-width: 1200px)
//@media (max-width: 900px)
//@media (max-width: 600px)
/*Популярные размеры экранов:
    320х534
    320х528
    360х640
    375х667
    480х800
    720х1280
    768х1024
    1024х768
    1280х800
    1280х1024
    1366х768
    1440х900
    1600х900
    1920х1080*/ 

