/*VARIABLES*/
/*MIXINS*/
/*SERVICE BLOCK*/
html {
  font-size: 16px;
}

.container {
  max-width: 1800px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 1s linear;
  transition: color 1s linear;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

/*BASIC STYLES LIGHT THEME*/
.header {
  background-color: #eeeff1;
  padding-top: 80px;
  width: 100%;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0;
  z-index: 800;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav__logo {
  display: inline-block;
  width: 281px;
  height: 90px;
  background-image: url(../img/logo_dark.png);
  background-size: 100% 100%;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.nav .nav__menu .nav__menu-btn {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

.nav .nav__menu .nav__menu-btn:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.13em;
}

.nav .nav__settings .nav__settings-color {
  position: relative;
  font-size: 0.8rem;
  width: 80px;
  display: block;
  border: 2px solid #323232;
  border-radius: 20px;
  height: 2.5em;
  -webkit-transition: border 0.5s linear, color 0.5s linear;
  transition: border 0.5s linear, color 0.5s linear;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 1px 5px 0;
}

.nav .nav__settings .nav__settings-color::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 40%;
  height: 100%;
  background-color: #323232;
  border-radius: 20px;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.nav .nav__settings .nav__settings-color span {
  display: inline-block;
  text-align: right;
  -webkit-transition: text-align 0.5s linear;
  transition: text-align 0.5s linear;
  overflow: hidden;
}

.nav .nav__settings .nav__settings-color span:first-child {
  width: 0%;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.nav .nav__settings .nav__settings-color span:last-child {
  width: 85%;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.nav .nav__settings .nav__settings-color::before {
  right: 65%;
  -webkit-transition: right 0.5s linear;
  transition: right 0.5s linear;
}

.main-screen {
  background-color: #eeeff1;
  padding: 160px 245px 145px;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.main-screen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-screen__img {
  width: 457px;
}

.main-screen .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

.main-screen .technologies__item:not(:last-child) {
  margin-right: 50px;
}

.main-screen__content {
  width: 685px;
  color: #323232;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.main-screen__header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.64em;
}

.main-screen__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
  margin: 40px 0;
}

.main-screen__text p:not(:last-child) {
  margin-bottom: .6rem;
}

.about {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  background-image: url(../img/my_photo.png), -webkit-gradient(linear, right top, left top, from(#c1c1c1), color-stop(49%, #afafaf), color-stop(85%, #f9f9f9));
  background-image: url(../img/my_photo.png), linear-gradient(270deg, #c1c1c1, #afafaf 49%, #f9f9f9 85%);
  background-size: auto 150%, 50% 100%;
  background-repeat: no-repeat;
  background-position: 80% 50%, right;
  padding: 120px 245px 100px;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-content {
  color: #323232;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.about-content__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.17em;
  text-align: left;
}

.about-content__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
  width: 540px;
  margin: 50px 0;
}

.about-content__text p:not(:last-child) {
  margin-bottom: .6rem;
}

.about-content__btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.42em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 15px 30px;
  background-color: #34547a;
  border-radius: 5px;
  text-decoration: none !important;
}

.about-content__btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.about__img {
  display: none;
  position: absolute;
  height: 150%;
  bottom: -25%;
  left: 50%;
}

.process {
  text-align: center;
  background-color: #eeeff1;
  color: #323232;
  padding: 100px 0 50px;
  -webkit-transition: background-color 0.5s linear, color 0.5s linear;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.process__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.17em;
}

.process__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
}

.process__item {
  position: relative;
  width: 650px;
  padding: 20px;
  border-radius: 5px;
}

.process__item:nth-child(2n+1) {
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
}

.process__item:nth-child(2n+1)::after {
  content: url("../img/right.svg");
  position: absolute;
  top: 58%;
  left: 103%;
  width: 30%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  opacity: 0.28;
}

.process__item:nth-child(2)::before {
  content: url("../img/left.svg");
  position: absolute;
  top: 58%;
  right: 103%;
  width: 30%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  opacity: 0.28;
}

.process__item:nth-child(2n) {
  -webkit-transform: translateX(55%);
          transform: translateX(55%);
}

.process__item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.17em;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.process__item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
}

.process__item-bg {
  position: absolute;
  display: block;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 5px #34547a;
  -webkit-filter: drop-shadow(-10px 10px 5px #34547a);
          filter: drop-shadow(-10px 10px 5px #34547a);
  opacity: 0.07;
}

.process__item-html {
  top: 17.4%;
  left: -1.6%;
  font-size: 15rem;
}

.process__item-css {
  top: 17%;
  left: 7%;
  font-size: 16rem;
}

.process__item-media {
  top: 26%;
  left: -2%;
  font-size: 12.5rem;
}

.process__item-js {
  top: 36.4%;
  left: -11.6%;
  font-size: 11.2rem;
}

.portfolio {
  background-color: #f9f9f9;
  padding-top: 100px;
  -webkit-transition: background-color 0.5s linear, color 0.5s linear;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.portfolio__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.17em;
  text-align: center;
}

.portfolio__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 70px 0 100px;
  list-style: none;
}

.portfolio__result-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  text-align: left;
}

.portfolio__result-item img {
  width: 85px;
  height: 70px;
  margin-right: 10px;
  -webkit-filter: invert(0%);
          filter: invert(0%);
  -webkit-transition: -webkit-filter 0.5s linear;
  transition: -webkit-filter 0.5s linear;
  transition: filter 0.5s linear;
  transition: filter 0.5s linear, -webkit-filter 0.5s linear;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.portfolio .item__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.17em;
  margin: 20px 0;
}

.portfolio .item__description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
}

.portfolio .item__link:first-child {
  margin-right: 50px;
}

.portfolio__item--hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  padding: 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(52, 84, 122, 0.8);
  background: -webkit-gradient(linear, left bottom, left top, from(#34547a), to(rgba(52, 84, 122, 0.5)));
  background: linear-gradient(to top, #34547a, rgba(52, 84, 122, 0.5));
  overflow: hidden;
  -webkit-transition: height .6s;
  transition: height .6s;
}

.portfolio__item--hover div:last-child {
  margin-bottom: 20px;
}

.portfolio__item:hover .portfolio__item--hover {
  height: 100%;
  -webkit-transition: height .6s;
  transition: height .6s;
}

.modal {
  z-index: 1000;
}

.modal-bg {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  opacity: 0.9;
}

.modal-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-body {
  position: relative;
  width: 800px;
  min-height: 200px;
  background-color: #f9f9f9;
  padding: 30px 30px 50px;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 4px;
  top: 4px;
  background-image: url(../img/close.png);
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-close:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.17em;
}

.modal-coms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 45px;
  margin-top: 30px;
}

.modal-coms__item {
  width: 35%;
}

.modal-com__title {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.17em;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-left: 40px;
}

.modal-com__telegram::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/modal-telegram.png);
  background-size: 110% 110%;
  background-position: center center;
}

.modal-com__email::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/modal-email.png);
  background-size: 130% 130%;
  background-position: center center;
}

.modal-com__whatsapp::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/modal-whatsapp.png);
  background-size: 120% 120%;
  background-position: center center;
}

.modal-com__direct::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/modal-instagram.png);
  background-size: 120% 120%;
  background-position: center center;
}

.modal-com__btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.42em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 15px 30px;
  background-color: #34547a;
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 8px 15px;
}

.modal-com__btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal-com__goto-btn {
  margin-right: 10px;
}

.modal-com__goto-btn:hover {
  text-decoration: none;
}

.footer {
  padding: 50px 0 30px;
  background-color: #34547a;
  color: #000;
  -webkit-transition: background-color 0.5s linear, color 0.5s linear;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.footer-links a {
  display: block;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
  text-align: center;
  margin-top: 40px;
}

.footer .social__item {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.footer .social__item.github {
  background-image: url("../img/github_black.png");
  background-size: 95% 95%;
  background-position: center bottom;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.footer .social__item.telegram {
  background-image: url("../img/telegram_black.png");
  background-size: 93% 93%;
  background-position: center bottom;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.footer .social__item.whatsapp {
  background-image: url("../img/whatsapp_black.png");
  background-size: 100% 100%;
  background-position: center center;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.footer .social__item.instagram {
  background-image: url("../img/instagram_black.png");
  background-size: 90% 90%;
  background-position: left center;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.footer .social__item:not(:first-child) {
  margin-left: 20px;
}

.footer a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
}

/*BASIC STYLES DARK THEME*/
.dark a {
  color: white;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.dark .header {
  background-color: #252526;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.dark .nav .nav__logo {
  background-image: url(../img/logo_light.png);
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.dark .nav .nav__settings-color {
  border: 2px solid white;
  color: white;
  -webkit-transition: border 0.5s linear, color 0.5s linear;
  transition: border 0.5s linear, color 0.5s linear;
}

.dark .nav .nav__settings-color::before {
  background-color: white;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.dark .nav .nav__settings-color span {
  text-align: left;
  -webkit-transition: text-align 0.5s linear;
  transition: text-align 0.5s linear;
}

.dark .nav .nav__settings-color::before {
  right: 0%;
  -webkit-transition: right 0.5s linear;
  transition: right 0.5s linear;
}

.dark .nav .nav__settings-color span:first-child {
  width: 85%;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.dark .nav .nav__settings-color span:last-child {
  width: 0%;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.dark .main-screen {
  background-color: #252526;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.dark .main-screen__content {
  color: white;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.dark .about {
  background-color: #1e1e1e;
  background-image: url(../img/my_photo.png);
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.dark .about-content {
  color: white;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.dark .process {
  color: white;
  background-color: #252526;
  -webkit-transition: background-color 0.5s linear, color 0.5s linear;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.dark .process__item-bg {
  opacity: 0.2;
}

.dark .process__item::after, .dark .process__item::before {
  opacity: 0.7;
}

.dark .portfolio {
  background-color: #1e1e1e;
  color: white;
  -webkit-transition: background-color 0.5s linear, color 0.5s linear;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.dark .portfolio__result-item img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: -webkit-filter 0.5s linear;
  transition: -webkit-filter 0.5s linear;
  transition: filter 0.5s linear;
  transition: filter 0.5s linear, -webkit-filter 0.5s linear;
}

.dark .footer {
  background-color: #1e1e1e;
  color: white;
  -webkit-transition: background-color 0.5s linear, color 0.5s linear;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.dark .footer .social__item.github {
  background-image: url("../img/github_white.png");
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.dark .footer .social__item.telegram {
  background-image: url("../img/telegram_white.png");
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.dark .footer .social__item.whatsapp {
  background-image: url("../img/whatsapp_white.png");
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.dark .footer .social__item.instagram {
  background-image: url("../img/instagram_white.png");
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}
/*# sourceMappingURL=style.css.map */