$ff-main: "Inter", sans-serif;

$c-white: #fff;
$c-accent: #104A3A;
$c-bg-light: #D7E5DC;
$c-bg: #4C786A;
$c-text: #DBE4E1;

$transitions: 0.3s linear;

$m-lg: 1599px;
$m-laptop: 1340px;
$m-tablet: 1023px;
$m-mobile: 767px;
$m-xs: 499px;