.ak-header {
    background-color: $c-accent;
    padding: 16px 0;

    &__container {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }

    &__name {
        font-size: 32px;

        @media (max-width: $m-xs) {
            font-size: 24px;
        }
    }

    &__position {
        font-size: 14px;
        margin-top: 8px;
        color: $c-text;

        @media (max-width: $m-xs) {
            font-size: 12px;
        }
    }

    &__title {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 600;

        @media (max-width: $m-tablet) {
            display: none;
        }
    }

    &__contacts {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        gap: 32px;

        @media (max-width: $m-tablet) {
            gap: 16px;
            flex-direction: column;
            align-items: flex-end;
        }

        @media (max-width: $m-mobile) {
            display: none;
        }
    }

    &__link {
        color: $c-white;
        -webkit-transition: color $transitions;
        -o-transition: color $transitions;
        transition: color $transitions;

        &:hover {
            color: $c-bg;
        }
    }
}