header.ak-header
    .ak-container
        .ak-header__container
            .ak-header__logo
                .ak-header__name Александр Косоуров
                .ak-header__position HTML-Верстальщик / Frontend-разработчик
            .ak-header__title Портфолио
            .ak-header__contacts
                include ../socials/index.pug
                a.ak-header__link(href="mailto:alexanderwitech@gmail.com") alexanderwitech@gmail.com