$text_color_light: rgb(0, 0, 0)

$text_color_dark: rgb(255, 255, 255)

@mixin font_title() 
    font-family: 'Roboto', sans-serif
    font-weight: 500

@mixin font_text() 
    font-family: 'Roboto', sans-serif
    font-weight: 400 
