footer.ak-footer
    .ak-container
        .ak-footer__container
            .ak-footer__copyright  © Александр Косоуров, 2023 - 2025
            .ak-footer__links
                a.ak-footer__link(href="https://krasnodar.hh.ru/resume/d5e5185cff0b140fa00039ed1f6a416d794561") Резюме на НН
            .ak-footer__contacts
                include ../socials/index.pug
                a.ak-header__link(href="mailto:alexanderwitech@gmail.com") alexanderwitech@gmail.com

